/SDK/java6-netbeans8/QueueToken/nbproject/private/
/SDK/java6-netbeans8/nbproject/private/
/SDK/java6-netbeans8/dist/
/SDK/java6-netbeans8/build/
/.vs
/JWETest/target/
/JWETest/nbproject/
/queuetoken/target/
/queuetoken/nbproject/